@import url("bootstrap.min.css");

.row {
	padding: 0;
}
.left {
	padding: 0;
}
.newstop {
	padding: 0;
}
.news-left {
	padding: 0;
}
.row a {
	color: black;
}

.news-left a img{
	width: 100%;
	height: 360px;
}
.title-newstopleft {
    margin-top: 12px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
}
.newsright{
	padding: 0;
}
.news-right {
	padding: 0;
}
.news-right img {
width: 100%;
height: 360px;
}
.title-newstopright {
    margin-top: 12px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
}
.news-moiup {
	padding: 0;
}
.tinmoi {
	    background-color: #0a314e;
}

.icon-title{
	font-size: 24px;    
    width: 5px;
    height: 40px;
    position: absolute;    
    left: 0;
    background-color: #f90a15;
}
.title-moiup{
	height: 40px;
    padding-left: 20px;
    font-family: SFD-Bold;   
    line-height: 38px;
    text-transform: uppercase;
    background: #102435;
    color: #fff;
}
.title-moiup h2 {
	font-size: 25px;    
    padding-top: 6px;
}
.tinmoi ul{
	padding: 0;
	width: 100%;
	list-style-type: none;
}
.box-tin img {
	width: 100%;
    height: 200px;

}


#ads {
	margin-top: 2%;
}

