@import url("bootstrap.min.css");

.container ul  {
    list-style-type: none;
}
 
.container {
    padding: 0;
}
.row {
	padding: 0;
}
.left {
	padding: 0;
}
.newstop {
	padding: 0;
}
.news-left {
	padding: 0;
}
.right  {
    padding-right: 0;
}
.row a {
	color: black;
}

.news-left a img{
	width: 100%;
	height: 360px;
}
.title-newstopleft {
    margin-top: 12px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
}
.newsright{
	padding: 0;
}
.news-right {
	padding: 0;
}
.news-right img {
width: 100%;
height: 360px;
}
.title-newstopright {
    margin-top: 12px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
}
.news-moiup {
	padding: 0;
    background-color: #0a314ee6;
border: 1px solid red;
border-radius: 8px;
}
.tinmoi {
    margin-top: -10px;
	    background-color: #0a314e;
}

.icon-title{
	font-size: 24px;    
    width: 5px;
    height: 40px;
    position: absolute;    
    left: 0;
    background-color: #f90a15;
}
.title{
	height: 40px;
    padding-left: 20px;
    font-family: SFD-Bold;   
    line-height: 38px;
    text-transform: uppercase;
    background: #102435;
    color: #fff;
}
.title h2 {
	font-size: 25px;    
    padding-top: 6px;
    font-weight: 600px;
}
.tinmoi ul{
	padding: 0;
	width: 100%;
	list-style-type: none;
}
.box-tin img {
	width: 100%;
    height: 200px;


}
.box-tin {
position: relative;
margin-bottom: 1%;
padding-left: 1%;
padding-right: 1%;
}


.box-tin .info {
    position: absolute;
top: 22px;
left: 0;
}
.box-tin .info  h1 {
   font-size: 17px;
color: white;
padding-left: 1%;
padding-right: 2%;
}
.box-tin .info h1:hover {
    color: red;
    
}
.image-card {
    position: relative;
}
.title-video{
    margin-bottom: 1%;
}
.video {
    padding : 0px;
background-color: #22455f;
margin-top: 1%;
border: 1px solid red;
border-radius: 8px;
}
.icon-video {
    width: 3%;
margin-top: -6px;
}

#video-chinh video {
width: 100%;
height: 345px;
}
.video-slideleft {
    padding: 0;
}
.slide-video {
    padding: 0;
}
#video {
   width: 100%;
height: 91px;
border-bottom: 1px solid #decfcf;
}
#video video {
    height: 92%;
float: left;
width: 30%;
margin-top: 1%;
}
#video span {
    float: left;
width: 65%;
color: white;
padding-left: 2%;
padding-top: 2%;
font-weight: 600;
}
.video-right {
   height: 380px;
}
.newsleft {
    padding-left: 0px;
}

#video-chinh {
    height: 100%;

}
#video-chinh iframe {
    width: 100%;
    height: 100%;
}
.slide-video iframe {
width: 30%;
float: left;
height: 96%;
}
#ads {
	margin-top: 2%;

}

